# Lists

In [1]:
type([])

list

In [2]:
# can contain different types of data
id=[10,11,12,"13",14,15]
print(id)

[10, 11, 12, '13', 14, 15]

In [3]:
id.append(16) # append means inserting into the tail of the list
print(id)

[10, 11, 12, '13', 14, 15, 16]

In [4]:
print(id[2:5]) # 2:5 means the index range is from 2 to 5 ( excluding 5 )

[12, '13', 14]

In [5]:
id.insert(1,99) # insert can be implemented in any index. here (1,99) is (index,value)
print(id)

[10, 99, 11, 12, '13', 14, 15, 16]

In [6]:
id.append([0.25,0.35,0.45]) # we can also add another list into the existing list, which will make it a nested list
print(id)

[10, 99, 11, 12, '13', 14, 15, 16, [0.25, 0.35, 0.45]]

In [7]:
# extending means you can extend the existing list by iterating a new list's elements, it won't make the list nested
id.extend([20,21,22,23]) 
print(id)

[10, 99, 11, 12, '13', 14, 15, 16, [0.25, 0.35, 0.45], 20, 21, 22, 23]

In [8]:
# there are many built in functions like sum(list), min(list), max(list).. (implement later)

In [9]:
id.pop() # pops up the last elements of the list just like a stack
print(id)

[10, 99, 11, 12, '13', 14, 15, 16, [0.25, 0.35, 0.45], 20, 21, 22]

In [10]:
id.pop(1) # pops up the sepcific indexed value
print(id)

[10, 11, 12, '13', 14, 15, 16, [0.25, 0.35, 0.45], 20, 21, 22]

In [11]:
id.append(10)
print(id)

[10, 11, 12, '13', 14, 15, 16, [0.25, 0.35, 0.45], 20, 21, 22, 10]

In [12]:
print(id.count(10)) # it will provide the frequency of that value in the list
print(id.index(11,1,5)) # it will return the first occurence (index) of that value, hence we can bound the search in a range [1,5]

2
1

In [13]:
print(id*2) # this will occur the append of the same elements again, it is not multiplying each elements by 2

[10, 11, 12, '13', 14, 15, 16, [0.25, 0.35, 0.45], 20, 21, 22, 10, 10, 11, 12, '13', 14, 15, 16, [0.25, 0.35, 0.45], 20, 21, 22, 10]

In [15]:
print(id) # that multiply is not effecting the list permanently, but we can do it manually

[10, 11, 12, '13', 14, 15, 16, [0.25, 0.35, 0.45], 20, 21, 22, 10]