# Sets

In [1]:
type({1,2,3}) # empty {} means dictionary, a set means a list but without any duplicate values and with extra features which are not available in lists

set

In [2]:
s1=set([1,2,3])     # a list can be used as a set using 'set'
print(s1)

{1, 2, 3}

In [3]:
s2={1,2,3}          #another way would be inserting values into curly braces{}
print(s2)

{1, 2, 3}

In [5]:
s1.add(4)         #adding values
print(s1)

{1, 2, 3, 4}

In [6]:
s1.update([4,5])     #duplicate values won't be added, only the unique ones will be added 
print(s1)            # for a list of values 'add' won't work, we have to use update

{1, 2, 3, 4, 5}

In [7]:
s2.update([2,5],s1)  # a set can be updated with other set's value
print(s2)

{1, 2, 3, 4, 5}

In [8]:
s2.remove(5)        # it removes the value from the set but if the value doesn't exist it will throw a keyError
print(s2)

{1, 2, 3, 4}

In [9]:
s2.discard(5)      # it doesn't throw an error whether the value is in the set or not
print(s2)

{1, 2, 3, 4}

In [10]:
# let us declare 3 sets and understand many functions of set
set_1={1,2,3}
set_2={2,3,4}
set_3={3,4,5}
set_4=set_1.intersection(set_2,set_3) #intersection means common values
print(set_4)

{3}

In [13]:
set_4.clear
set_4=set_1.difference(set_2) #difference set1 from set2 means those values of set1 which are not in set2
print(set_4)
print(set_2.difference(set_1,set_3)) #there will be empty set if the difference works from set2 to set1,set3

{1}
set()

In [14]:
set_4=set_1.symmetric_difference(set_2) #symmetric difference (s1->s2/ s2->s1) shows the different values from both sets
print(set_4)

{1, 4}

### Understanding the need of sets in terms of lists

#### Removing duplicates from a list

In [15]:
id=[1,2,3,3,2,2,1,2,4,2,1]
id=list(set(id))
print(id)

[1, 2, 3, 4]

#### Implementing in multiple lists

In [16]:
employees = ['Corey', 'Jim', 'Steven', 'April', 'Judy', 'Jenn', 'John', 'Jane']
gym_members = ['April', 'John', 'Corey']
developers = ['Judy', 'Corey', 'Steven', 'Jane', 'April']

#printing those developers who give time in gym too
print( set(developers).intersection(gym_members) )

#printing those employees who are not developers
print( set(employees).difference(developers) )

{'April', 'Corey'}
{'Jenn', 'John', 'Jim'}